AddDefaultCHarset UTF-8
php_flag display_errors on
php_value error_reporting -1;

RewriteEngine on

#Do not favicon!
RewriteCond %{REQUEST_FILENAME} !^favicon\.ico

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*) index.php?url=$1 [QSA,L]
