input.button {
	padding-top: 0;
}

.error {
	display: block;
	line-height: 1.3;
	padding-top: 11px;
	padding-bottom: 15px;
}

.error-with-desc {
	line-height: 1.3;
	padding-top: 15px;
	padding-bottom: 15px;
}

.error-with-desc-bottom {
	padding: 15px 15px 15px 15px;
	color: #000;
}

.error-with-desc-bottom p {
	margin-top: 0;
	margin-bottom: 10px;
	line-height: 1.5;
	text-align: justify;
}

.error-with-desc-bottom p:last-child {
	margin-bottom: 10px;
}

.hidden {
	display: none;
}

.error-success {
	background-color: #00a85a;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#006e3b), to(#00a85a)); 
	background-image: -webkit-linear-gradient(bottom, #006e3b 0%, #00a85a 100%); 
	background-image: -o-linear-gradient(bottom, #006e3b 0%, #00a85a 100%);
	background-image: linear-gradient(to top, #006e3b 0%, #00a85a 100%);
}


.header__nav-link:hover {
  padding-bottom: 55px;
}

.header__nav-link--active {
  border-bottom:none;
}

.button--del {
  font-size: 16px;
  height:44px;
  padding-right: 1.8em;
  padding-left: 1.8em;
  line-height: 1.2;
}


.button--small {
	font-size: 14px;
	height: 2.2em;
	padding-right: 1.3em;
	padding-left: 1.3em;
	line-height: 1;	
}

.button--middle {
  font-size: 16px;
  height:40px;
  padding-right: 1.8em;
  padding-left: 1.8em;
  line-height: 1.2;
}

.uploaded-image {
	background-color: white;
}

.mr-330 {
	margin-right: 330px;
}

body::before {
    content: "";
    display: none;
}

html, body {
	height: 100% !important;
}
 
.sticky-footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
}


.avatar--small {
	width: 48px;
	height: 48px;
	background-size: cover; 
}

.clearfix:before {
content: "";
display: table;
}

.clearfix:after {
content: "";
display: table;
clear:both;
}

.contact-item {
 margin-bottom: 10px;
}

.contact-social-link {
	margin-bottom: 15px;
	font-weight: 700;
	display: block;
}

